## Comparing Term Frequencies between Months

In [3]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

In [16]:
df = pd.read_csv('../project/geocoded/all_276k.csv')

/gpfs/ysm/project/amth/amth_av622/conda_envs/notebook_env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (3,9,11,14,16,17,19,22,23,43,44,45,47,49,52,64,73,74,76,79,82,91,92,105,108) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
np.array(df.columns)

array(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1',
       'account_created_at', 'account_lang', 'bbox_coords',
       'coords_coords', 'country', 'country_code', 'created_at',
       'description', 'display_text_width', 'ext_media_expanded_url',
       'ext_media_t.co', 'ext_media_type', 'ext_media_url',
       'favorite_count', 'favourites_count', 'followers_count',
       'friends_count', 'geo_coords', 'hashtags', 'is_quote',
       'is_retweet', 'lang', 'listed_count', 'location',
       'media_expanded_url', 'media_t.co', 'media_type', 'media_url',
       'mentions_screen_name', 'mentions_user_id', 'name',
       'place_full_name', 'place_name', 'place_type', 'place_url',
       'profile_background_url', 'profile_banner_url',
       'profile_expanded_url', 'profile_image_url', 'profile_url',
       'protected', 'quote_count', 'quoted_created_at',
       'quoted_description', 'quoted_favorite_count',
       'quoted_followers_count', 'quoted_friends_count',
       'quoted_location', 'quoted_name', 'quoted_retweet_count',
       'quoted_screen_name', 'quoted_source', 'quoted_status_id',
       'quoted_statuses_count', 'quoted_text', 'quoted_user_id',
       'quoted_verified', 'reply_count', 'reply_to_screen_name',
       'reply_to_status_id', 'reply_to_user_id', 'retweet_count',
       'retweet_created_at', 'retweet_description',
       'retweet_favorite_count', 'retweet_followers_count',
       'retweet_friends_count', 'retweet_location', 'retweet_name',
       'retweet_retweet_count', 'retweet_screen_name', 'retweet_source',
       'retweet_status_id', 'retweet_statuses_count', 'retweet_text',
       'retweet_user_id', 'retweet_verified', 'screen_name', 'source',
       'status_id', 'status_url', 'statuses_count', 'symbols', 'text',
       'url', 'urls_expanded_url', 'urls_t.co', 'urls_url', 'user_id',
       'verified', 'datetime', 'day', 'month', 'date', 'hour', 'minutes',
       'seconds', 'lemmatizer', 'stemmer', 'state', 'city', 'coordinates',
       'state_new', 'County-City-State-Code-SDI', 'SDI', 'Code', 'State',
       'City', 'County'], dtype=object)

In [18]:
keep = ['month', 'stemmer', 'County', 'State', 'SDI']

In [19]:
df['stemmer'] = pd.Series([eval(i) for i in df['stemmer']])

In [20]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [47]:
hotspots = pd.read_csv('../project/population-adjusted-county-hotspots.csv', header=None)
hotspots.columns = ['County', 'State']
hotspots['State'] = pd.Series([states[x] for x in hotspots['State']])
hotspots['County'] = pd.Series([x + ' County' for x in hotspots['County']])
hotspots['County_State'] = pd.Series(hotspots['County'] + ' ' + hotspots['State'])

In [51]:
hotspots_df = df[keep][~pd.isnull(df['stemmer']) & df['County_State'].isin(hotspots['County_State'])]

In [52]:
hotspots_df

,month,stemmer,County,State,SDI
9,January,"[receiv, brief, today, case, ask, health, offi...",Snohomish County,Washington,23.0
11,January,"[insert, coronaviru, joke]",Davidson County,Tennessee,75.0
13,January,"[ya, okay, thank, coronaviru]",Salt Lake County,Utah,29.0
23,January,"[got, coronaviru, cuz, call, sick, work, im, p...",King County,Washington,32.0
35,January,"[breakingnew, wuhan, citi, china, new, coronav...",New York County,New York,81.0
...,...,...,...,...,...
276392,March,"[cnn, reason, american, resurrect, wont, work,...",New York County,New York,81.0
276396,March,"[art, vs, temporari, blight, board, busi, new,...",King County,Washington,32.0
276405,March,"[patient, staff, member, state, psychiatr, hos...",Washtenaw County,Michigan,29.0
276410,March,"[tire, hear, latest, coronaviru, press, brief,...",Snohomish County,Washington,23.0
276414,March,"[dude, fuck, crib, coronaviru, said, sex, fuck...",Oakland County,Michigan,12.0

In [56]:
df['SDI'].mean()

57.62826298306732

In [55]:
hotspots_df['SDI'].mean()

50.2627242030916

In [57]:
df = df[keep][~np.isnan(df["SDI"]) & ~pd.isnull(df['stemmer'])]
df

,month,stemmer,County,State,SDI
0,January,"[lysol, da, fuck, outta, everyth, bc, aint, ca...",Tarrant County,Texas,57.0
1,January,"[coronaviru, confirm, washington]",Allegan County,Michigan,11.0
2,January,"[hmmmmm, could, coronaviru, soon, new, plagu]",Leon County,Florida,70.0
3,January,"[million, peopl, wuhan, larger, new, york, cit...",Maricopa County,Arizona,65.0
5,January,"[china, quarantin, wuhan, chines, govern, quar...",Richmond County,North Carolina,88.0
...,...,...,...,...,...
276411,March,"[realdonaldtrump, realdonaldtrump, stop, count...",Piscataquis County,Maine,52.0
276412,March,"[durham, im, bet, thursday, well, also, shelte...",Wake County,North Carolina,23.0
276413,March,"[mitchellreport, msnbc, medic, scienc, found, ...",New Castle County,Delaware,30.0
276414,March,"[dude, fuck, crib, coronaviru, said, sex, fuck...",Oakland County,Michigan,12.0
276415,March,"[come, home, mom, dont, want, coronaviru, hous...",La Crosse County,Wisconsin,16.0

In [7]:
low_sdi = df[df['SDI'] <= 20]
high_sdi = df[df['SDI'] >= 90]

In [8]:
low_sdi.head()

,month,stemmer,County,State,SDI
1,January,"[coronaviru, confirm, washington]",Allegan County,Michigan,11.0
6,January,"[littl, evid, coronaviru, epidem, control, say...",Shelby County,Alabama,3.0
18,January,"[still, colleg, would, make, differ, type, cor...",Concho County,Texas,17.0
27,January,"[cnn, deadli, new, coronaviru, reach, us, here...",Fairfax County,Virginia,11.0
29,January,"[petit, expos, coronaviru, gun, girl]",Washington County,Rhode Island,5.0

In [9]:
high_sdi.head()

,month,stemmer,County,State,SDI
8,January,"[got, coronaviru, yo]",Los Angeles County,California,92.0
16,January,"[bbcworld, jamestgallagh, endchina, coronaviru...",Kings County,New York,99.0
21,January,"[coronaviru, outbreak, latest, news, live, upd...",Miami-Dade County,Florida,96.0
28,January,"[break, massdph, immedi, plan, begin, screen, ...",Suffolk County,Massachusetts,97.0
45,January,"[today, digitalhealth, tuftsmedschool, talk, e...",Suffolk County,Massachusetts,97.0

In [10]:
print (low_sdi['month'].value_counts())
print (high_sdi['month'].value_counts())

March       32896
February     5155
January      1257
Name: month, dtype: int64
March       36154
February     5037
January      1784
Name: month, dtype: int64

In [11]:
low_sdi['County'].value_counts()

Concho County          2682
Rockbridge County      1900
Fairfax County         1866
Middlesex County       1675
Madison County         1568
                       ...
Oneida County             1
Wyandot County            1
Steele County             1
Spotsylvania County       1
Thomas County             1
Name: County, Length: 366, dtype: int64

In [12]:
high_sdi['County'].value_counts()

Los Angeles County    16929
Kings County           4968
Dallas County          3866
Miami-Dade County      3370
Fresno County          2566
                      ...
Duval County              1
Bullock County            1
Edgecombe County          1
Jenkins County            1
Lauderdale County         1
Name: County, Length: 67, dtype: int64

## TF-IDF

### All SDI together ("Most frequent terms in month M as compared to months ~M for all tweets")

In [61]:
from sklearn.feature_extraction import text
my_stop_words = text.ENGLISH_STOP_WORDS.union(["coronaviru", "covid", "im", "amp", "like", "ive"])

In [59]:
# fit on months we're not looking at and transform on months separately

def tfidf_transform(month, ngram_range, df):
    vectorizer = TfidfVectorizer(ngram_range=ngram_range, min_df=0.01, max_df=0.9, stop_words=my_stop_words)
    vectorizer = vectorizer.fit([" ".join(x) for x in df[df['month'] != month]['stemmer']])
    feature_names = pd.Series(vectorizer.get_feature_names())
    
    tfidf = vectorizer.transform([" ".join(x) for x in df[df['month'] == month]['stemmer']])
    weights = pd.Series(np.array(tfidf.sum(axis=0)).flatten())
    top_words = list(weights.nlargest(n=100).index)
    
    return (feature_names.iloc[top_words].reset_index(drop=True))

In [118]:
top_monograms_both = pd.DataFrame()
for month in ['January', 'February', 'March']:
    top_monograms_both[month] = tfidf_transform(month, ngram_range=(1,1), df=df)

In [134]:
shared_top_words_both = list(set(top_monograms_both['January'][:50]).intersection(set(top_monograms_both['February'][:50]), set(top_monograms_both['March'][:50])))

In [135]:
top_monograms_both

     January February    March
0      china    china    peopl
1       case    trump     test
2   outbreak    peopl     time
3     spread     case    trump
4      peopl   spread     need
..       ...      ...      ...
95   concern   person   doesnt
96     anyon   better   govern
97       man     care    china
98    number  america  protect
99     check    great  thought

[100 rows x 3 columns]

In [129]:
top_monograms_both_filt = pd.DataFrame()
for month in ['January', 'February', 'March']:
    top_monograms_both_filt[month] = pd.Series([x for x in list(top_monograms_both[month]) if x not in shared_top_words_both])

In [130]:
top_monograms_both_filt.iloc[:20]

     January         February            March
0      china            china             test
1   outbreak            trump            trump
2    confirm         outbreak           pandem
3        flu  realdonaldtrump             help
4     chines              flu            close
5     corona              die             home
6      start           infect             stay
7      death           chines        quarantin
8       yall            death            thank
9        die         american             week
10    travel           pandem            pleas
11    infect             kill            today
12      shit             test             live
13      fuck        quarantin            thing
14     emerg          respons            state
15    offici          confirm           cancel
16      year           report  realdonaldtrump
17      kill           presid            right
18       cdc             look             want
19    report             want            posit

### Low SDI ("Most frequent terms in month M as compared to months ~M for tweets in extremely low SDI")

In [132]:
top_monograms_low_sdi = pd.DataFrame()
for month in ['January', 'February', 'March']:
    top_monograms_low_sdi[month] = tfidf_transform(month, ngram_range=(1,1), df=low_sdi)

In [133]:
top_monograms_low_sdi

     January February    March
0      china    china    peopl
1       case    trump     test
2   outbreak    peopl    trump
3      peopl     case     time
4     spread   spread     need
..       ...      ...      ...
95     anyon   hospit    anyon
96     fight  america  thought
97       tri     wait  confirm
98    counti     mani   corona
99    presid    fight     wait

[100 rows x 3 columns]

In [136]:
shared_top_words_low_sdi = list(set(top_monograms_low_sdi['January'][:50]).intersection(set(top_monograms_low_sdi['February'][:50]), set(top_monograms_low_sdi['March'][:50])))

In [137]:
top_monograms_low_sdi_filt = pd.DataFrame()
for month in ['January', 'February', 'March']:
    top_monograms_low_sdi_filt[month] = pd.Series([x for x in list(top_monograms_low_sdi[month]) if x not in shared_top_words_low_sdi])

In [138]:
top_monograms_low_sdi_filt.iloc[:20]

     January  February    March
0      china     china    trump
1   outbreak     trump     help
2    confirm  outbreak     work
3        flu    pandem     home
4     chines    infect    close
5     corona       flu   pandem
6      death       die     make
7     youtub     death    thank
8        die  american     stay
9       year    chines    state
10      kill   confirm    pleas
11   countri      make     week
12       cdc    presid    thing
13     right   respons    today
14     emerg    report     live
15    travel      year   cancel
16    infect   countri     want
17     start      work    updat
18   student      kill  everyon
19      fuck      want     look

### High SDI ("Most frequent terms in month M as compared to months ~M for tweets in extremely high SDI")

In [139]:
top_monograms_high_sdi = pd.DataFrame()
for month in ['January', 'February', 'March']:
    top_monograms_high_sdi[month] = tfidf_transform(month, ngram_range=(1,1), df=high_sdi)

In [140]:
top_monograms_high_sdi

     January  February    March
0      china     trump    peopl
1       case     china     test
2   outbreak     peopl    trump
3     spread      case     time
4        got  outbreak     need
..       ...       ...      ...
95    pandem      feel     amid
96    cancel       let    china
97      face     posit   person
98       man      mani  concern
99     anyon     emerg   offici

[100 rows x 3 columns]

In [141]:
shared_top_words_high_sdi = list(set(top_monograms_high_sdi['January'][:50]).intersection(set(top_monograms_high_sdi['February'][:50]), set(top_monograms_low_sdi['March'][:50])))

In [142]:
top_monograms_high_sdi_filt = pd.DataFrame()
for month in ['January', 'February', 'March']:
    top_monograms_high_sdi_filt[month] = pd.Series([x for x in list(top_monograms_high_sdi[month]) if x not in shared_top_words_high_sdi])

In [143]:
top_monograms_high_sdi_filt.iloc[:20]

     January         February            March
0      china            trump             test
1   outbreak            china            trump
2    confirm         outbreak             need
3     corona  realdonaldtrump           pandem
4       mask              die        quarantin
5       yall           infect             home
6       fuck          confirm            close
7       shit              flu             help
8        flu            death             work
9      start           pandem             stay
10     emerg         american            thank
11    infect             good             week
12    chines             test       california
13     death             need            right
14    travel          respons  realdonaldtrump
15   countri             kill           cancel
16       die           report            pleas
17      year            start            today
18    hospit        quarantin              use
19      hope             said            thing

### Hotspots ("Most frequent terms in month M as compared to months ~M for tweets in population-adjusted hotspots")

In [62]:
top_monograms_hotspots = pd.DataFrame()
for month in ['January', 'February', 'March']:
    top_monograms_hotspots[month] = tfidf_transform(month, ngram_range=(1,1), df=hotspots_df)

In [63]:
top_monograms_hotspots

     January  February    March
0      china     china      new
1       case     trump    peopl
2   outbreak     peopl     test
3     spread      case     time
4      peopl    spread    trump
..       ...       ...      ...
95      sinc      read   person
96    offici    someon   infect
97   countri     thank   someon
98    someth      mani   youtub
99     trump  question  concern

[100 rows x 3 columns]

In [64]:
shared_top_words_hotspots = list(set(top_monograms_hotspots['January'][:50]).intersection(set(top_monograms_hotspots['February'][:50]), set(top_monograms_hotspots['March'][:50])))

In [67]:
top_monograms_hotspots_filt = pd.DataFrame()
for month in ['January', 'February', 'March']:
    top_monograms_hotspots_filt[month] = pd.Series([x for x in list(top_monograms_hotspots[month]) if x not in shared_top_words_hotspots])

In [68]:
top_monograms_hotspots_filt.iloc[:20]

                January         February            March
0                 china            china             test
1               confirm            trump             time
2                   flu  realdonaldtrump            trump
3                chines              flu           pandem
4                  mask             fear             help
5                 emerg              die             home
6                travel             time            close
7                 death           pandem              nyc
8                report          respons            thank
9                 start             come        quarantin
10               corona             mask             stay
11                 fuck           chines             week
12                 year             test            pleas
13               youtub         american            state
14                  die             kill             live
15  coronavirusoutbreak             look  realdonaldtrump
16               infect           infect             come
17                state        quarantin            thing
18              everyon           report             stop
19                 tell            thing             look

## For each month, most frequent terms for low vs. high

In [70]:
# for a given month, fit on both low and high SDI and transform on SDI DFs separately

def tfidf_low_v_high_transform(month, ngram_range, low, high):
    vectorizer = TfidfVectorizer(ngram_range=ngram_range, min_df=0.01, max_df=0.9, stop_words=my_stop_words)
    vectorizer = vectorizer.fit([" ".join(x) for x in low[low['month'] == month]['stemmer']])
    feature_names = pd.Series(vectorizer.get_feature_names())
    
    tfidf_low = vectorizer.transform([" ".join(x) for x in low[low['month'] == month]['stemmer']])
    weights_low = pd.Series(np.array(tfidf_low.sum(axis=0)).flatten())
    top_words_low = list(weights_low.nlargest(n=100).index)
    
    tfidf_high = vectorizer.transform([" ".join(x) for x in high[high['month'] == month]['stemmer']])
    weights_high = pd.Series(np.array(tfidf_high.sum(axis=0)).flatten())
    top_words_high = list(weights_high.nlargest(n=100).index)
    
    return (feature_names.iloc[top_words_low].reset_index(drop=True),
            feature_names.iloc[top_words_high].reset_index(drop=True))

In [2]:
top_monograms = pd.DataFrame()
for month in ['January', 'February', 'March']:
    out = tfidf_low_v_high_transform(month, (1,1), low=low_sdi, high=high_sdi)
    shared_top_words = list(set(out[0][:50]).intersection(set(out[1][:50])))
    top_monograms[month + ' low_SDI'] = pd.Series([x for x in list(out[0]) if x not in shared_top_words])
    top_monograms[month + ' high_SDI'] = pd.Series([x for x in list(out[1]) if x not in shared_top_words])

NameError: name 'pd' is not defined

In [157]:
top_monograms[['March low_SDI', 'March high_SDI']]

     March low_SDI March high_SDI
0  realdonaldtrump      quarantin
1             viru            got
2            think           stay
3              NaN            NaN
4              NaN            NaN
5              NaN            NaN
6              NaN            NaN

In [80]:
top_monograms = pd.DataFrame()
for month in ['January', 'February', 'March']:
    out = tfidf_low_v_high_transform(month, (1,1), low=df, high=hotspots_df)
    shared_top_words = list(set(out[0][:50]).intersection(set(out[1][:50])))
    top_monograms[month + ' all'] = pd.Series([x for x in list(out[0]) if x not in shared_top_words])
    top_monograms[month + ' hotspots'] = pd.Series([x for x in list(out[1]) if x not in shared_top_words])

In [1]:
top_monograms.iloc[:20]

NameError: name 'top_monograms' is not defined

## TFIDF bigrams

### All SDI together ("Most frequent terms in month M as compared to months ~M for all tweets")

In [158]:
from sklearn.feature_extraction import text
my_stop_words = text.ENGLISH_STOP_WORDS.union(["coronaviru", "covid", "im", "amp", "like", "ive"])

In [165]:
# fit on months we're not looking at and transform on months separately

def tfidf_transform(month, ngram_range, df):
    vectorizer = TfidfVectorizer(ngram_range=ngram_range, min_df=0.01, max_df=1.0, stop_words=my_stop_words)
    vectorizer = vectorizer.fit([" ".join(x) for x in df[df['month'] != month]['stemmer']])
    feature_names = pd.Series(vectorizer.get_feature_names())
    
    tfidf = vectorizer.transform([" ".join(x) for x in df[df['month'] == month]['stemmer']])
    weights = pd.Series(np.array(tfidf.sum(axis=0)).flatten())
    top_words = list(weights.nlargest(n=100).index)
    
    return (feature_names.iloc[top_words].reset_index(drop=True))

In [166]:
top_monograms_both = pd.DataFrame()
for month in ['January', 'February', 'March']:
    top_monograms_both[month] = tfidf_transform(month, ngram_range=(2,2), df=df)

In [167]:
shared_top_words_both = list(set(top_monograms_both['January'][:50]).intersection(set(top_monograms_both['February'][:50]), set(top_monograms_both['March'][:50])))

In [168]:
top_monograms_both

      January    February         March
0   stay home  test posit  confirm case
1  test posit   stay home  stock market

In [163]:
top_monograms_both_filt = pd.DataFrame()
for month in ['January', 'February', 'March']:
    top_monograms_both_filt[month] = pd.Series([x for x in list(top_monograms_both[month]) if x not in shared_top_words_both])

In [164]:
top_monograms_both_filt.iloc[:20]

      January    February         March
0   stay home  test posit  confirm case
1  test posit   stay home  stock market

### Low SDI ("Most frequent terms in month M as compared to months ~M for tweets in extremely low SDI")

In [169]:
top_monograms_low_sdi = pd.DataFrame()
for month in ['January', 'February', 'March']:
    top_monograms_low_sdi[month] = tfidf_transform(month, ngram_range=(2,2), df=low_sdi)

In [170]:
top_monograms_low_sdi

          January        February                       March
0      test posit      test posit                confirm case
1  social distanc  social distanc  coronaoutbreak viruscorona

In [171]:
shared_top_words_low_sdi = list(set(top_monograms_low_sdi['January'][:50]).intersection(set(top_monograms_low_sdi['February'][:50]), set(top_monograms_low_sdi['March'][:50])))

In [172]:
top_monograms_low_sdi_filt = pd.DataFrame()
for month in ['January', 'February', 'March']:
    top_monograms_low_sdi_filt[month] = pd.Series([x for x in list(top_monograms_low_sdi[month]) if x not in shared_top_words_low_sdi])

In [173]:
top_monograms_low_sdi_filt.iloc[:20]

          January        February                       March
0      test posit      test posit                confirm case
1  social distanc  social distanc  coronaoutbreak viruscorona

### High SDI ("Most frequent terms in month M as compared to months ~M for tweets in extremely high SDI")

In [174]:
top_monograms_high_sdi = pd.DataFrame()
for month in ['January', 'February', 'March']:
    top_monograms_high_sdi[month] = tfidf_transform(month, ngram_range=(2,2), df=high_sdi)

In [175]:
top_monograms_high_sdi

      January    February         March
0    lo angel  test posit  confirm case
1    new york    lo angel  stock market
2   stay home    new york    cruis ship
3  test posit   stay home     mike penc

In [176]:
shared_top_words_high_sdi = list(set(top_monograms_high_sdi['January'][:50]).intersection(set(top_monograms_high_sdi['February'][:50]), set(top_monograms_low_sdi['March'][:50])))

In [177]:
top_monograms_high_sdi_filt = pd.DataFrame()
for month in ['January', 'February', 'March']:
    top_monograms_high_sdi_filt[month] = pd.Series([x for x in list(top_monograms_high_sdi[month]) if x not in shared_top_words_high_sdi])

In [178]:
top_monograms_high_sdi_filt.iloc[:20]

      January    February         March
0    lo angel  test posit  confirm case
1    new york    lo angel  stock market
2   stay home    new york    cruis ship
3  test posit   stay home     mike penc

## For each month, most frequent terms for low vs. high

In [179]:
# for a given month, fit on both low and high SDI and transform on SDI DFs separately

def tfidf_low_v_high_transform(month, ngram_range, low, high):
    vectorizer = TfidfVectorizer(ngram_range=ngram_range, min_df=0.01, max_df=0.9, stop_words=my_stop_words)
    vectorizer = vectorizer.fit([" ".join(x) for x in low[low['month'] == month]['stemmer']])
    feature_names = pd.Series(vectorizer.get_feature_names())
    
    tfidf_low = vectorizer.transform([" ".join(x) for x in low[low['month'] == month]['stemmer']])
    weights_low = pd.Series(np.array(tfidf_low.sum(axis=0)).flatten())
    top_words_low = list(weights_low.nlargest(n=100).index)
    
    tfidf_high = vectorizer.transform([" ".join(x) for x in high[high['month'] == month]['stemmer']])
    weights_high = pd.Series(np.array(tfidf_high.sum(axis=0)).flatten())
    top_words_high = list(weights_high.nlargest(n=100).index)
    
    return (feature_names.iloc[top_words_low].reset_index(drop=True),
            feature_names.iloc[top_words_high].reset_index(drop=True))

In [184]:
top_monograms = pd.DataFrame()
for month in ['January', 'February', 'March']:
    out = tfidf_low_v_high_transform(month, (2,2), low=low_sdi, high=high_sdi)
    #shared_top_words = list(set(out[0][:50]).intersection(set(out[1][:50])))
    shared_top_words = []
    top_monograms[month + ' low_SDI'] = pd.Series([x for x in list(out[0]) if x not in shared_top_words])
    top_monograms[month + ' high_SDI'] = pd.Series([x for x in list(out[1]) if x not in shared_top_words])

In [185]:
top_monograms

,January low_SDI,January high_SDI,February low_SDI,February high_SDI,March low_SDI,March high_SDI
0,possibl case,confirm case,sarscov ncov,stock market,test posit,test posit
1,case confirm,case confirm,ncov broitsjusttheflu,confirm case,social distanc,social distanc
2,confirm case,possibl case,stock market,cruis ship,NaN,NaN